html, body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

/* GENERAL */
.sectionHeader {
  padding-top: 35px;
  max-width: 100%;
}

#menuItems li a img, #iconItems li a img, #iconItemsAlt li a img {
  max-width: 100%;
}

/* .secHeadImg {
    width: 20%;
} */
/* HERO BOX CSS */
#heroBox {
  background: #db2b39;
  height: 600px;
  width: 100vw;
  /* z-index: 198; */
  top: 0px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menuItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-left: 10px;
  list-style-type: none;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#iconItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-right: 10px;
  list-style-type: none;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#iconItemsAlt {
  display: none;
}

#heroMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 5px;
  padding-right: 5px;
}

#computerImg {
  max-width: 100%;
}

#heroText {
  padding-top: 200px;
}

#welcomeTxt {
  max-width: 100%;
  /* width: 600px; */
}

#welcomeTxtAlt {
  display: none;
}

/* ABOUT BOX CSS */
#aboutBox {
  background: #fff;
  height: 600px;
  /* height: 500px; */
}

#aboutTitleBox {
  text-align: center;
}

#aboutText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

#aboutText p {
  color: #7a7d7d;
  font-size: 23px;
  line-height: 1.2;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 45px;
  text-align: center;
}

/* WORK BOX CSS */
#workBox {
  background: #29335c;
  height: 600px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#workTitleBox {
  text-align: center;
}

#workCaro {
  padding: 20px;
  -webkit-perspective: 500px;
          perspective: 500px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
  /* text-align: center; */
}

#workCaro > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

#workCaro figure {
  margin: 0;
  width: 400px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 50% 50% -346.41016px;
          transform-origin: 50% 50% -346.41016px;
}

#workCaro figure img {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 40px;
  opacity: 0.9;
}

#workCaro figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: 50% 50% -346.41016px;
          transform-origin: 50% 50% -346.41016px;
}

#workCaro figure img:nth-child(2) {
  -webkit-transform: rotateY(1.0472rad);
          transform: rotateY(1.0472rad);
}

#workCaro figure img:nth-child(3) {
  -webkit-transform: rotateY(2.0944rad);
          transform: rotateY(2.0944rad);
}

#workCaro figure img:nth-child(4) {
  -webkit-transform: rotateY(3.14159rad);
          transform: rotateY(3.14159rad);
}

#workCaro figure img:nth-child(5) {
  -webkit-transform: rotateY(4.18879rad);
          transform: rotateY(4.18879rad);
}

#workCaro figure img:nth-child(6) {
  -webkit-transform: rotateY(5.23599rad);
          transform: rotateY(5.23599rad);
}

/* CONTACT BOX CSS */
#contactBox {
  background: #1D7874;
  height: 600px;
}

#contactTitleBox {
  text-align: center;
}

#contactItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* FOOTER BOX CSS */
#footer {
  background: #f3a712;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#copyright {
  padding: 0;
  margin-left: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#copyright img {
  margin-top: 25px;
}

#footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-right: 10px;
  list-style-type: none;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#footerIcons li {
  margin: 0 8px;
}

/* TABLET */
/* MOBILE */
@media (max-width: 425px) {
  /* HERO BOX */
  #heroBox {
    position: relative;
    background: url(../images/mobileBackground425px.png);
    height: 509px;
    width: 100vw;
    /* z-index: 198; */
    top: 0px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #menuItems {
    display: none;
  }
  #iconItems {
    display: none;
  }
  #iconItemsAlt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 60%;
    padding: 0;
    list-style-type: none;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #heroMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 5px;
    padding-right: 5px;
  }
  #isoComp {
    display: none;
  }
  #heroText {
    /* display: flex; */
    padding-top: 200px;
    /* justify-content: flex-start; */
  }
  #welcomeTxt {
    display: none;
    max-width: 100%;
    /* width: 600px; */
  }
  #welcomeTxtAlt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
  }
  /* ABOUT BOX */
  #aboutBox {
    background: #fff;
    height: 509px;
  }
  /* WORK */
  #workBox {
    background: #29335c;
    height: 509px;
  }
  #workCaro {
    margin-top: 20px;
    text-align: center;
  }
  #caroImg2 {
    display: none;
  }
  #caroImg3 {
    display: none;
  }
  #caroImg4 {
    display: none;
  }
  #caroImg5 {
    display: none;
  }
  #caroImg6 {
    display: none;
  }
  /* CONTACT */
  #contactBox {
    background: #1D7874;
    height: 509px;
  }
  /* FOOTER */
  #footer {
    background: #f3a712;
    height: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 371px) {
  #aboutText p {
    color: #7a7d7d;
    font-size: 20px;
    line-height: 1.2;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 45px;
    text-align: center;
  }
}
/*# sourceMappingURL=program.css.map */